.enjoy__block {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  height: 80vh;
  min-height: 500px;
  max-height: 644px;
  margin-bottom: 100px;
}

.enjoy__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(70%);
}

.enjoy__content {
  position: relative;
  z-index: 1;
  color: var(--color-text-light);
  padding: 80px 40px;
  padding-top: 60px;
  max-width: 530px;
  padding-left: 100px;
}

.enjoy__title {
  padding: 40px 0;
  font-size: 72px;
}

.enjoy__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-light);
}

.enjoy__btn {
  margin-top: 40px;
  position: relative;
  display: inline-grid;
  place-items: center;
  padding: 23px 78px;
  border-radius: 99px;
  background: var(--color-bg-body);
  color: var(--color-text-dark);
  text-decoration: none;
}

.button__menu-icon {
  position: absolute;
  right: 60px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

.button__menu__text {
  transition: transform 0.5s ease;
}

.enjoy__btn:hover .button__menu__text {
  transform: translateX(-12px);
}

.enjoy__btn:hover .button__menu-icon {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.enjoy__btn:hover {
  transition: transform 0.5s;
}

.favorite__title {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: var(--color-text-dark);
  margin-bottom: 40px;
}

.slider__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 3px;
}

.slider__button {
  margin-top: -43px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-border-dark);
  transition: background-color 0.3s ease-in-out;
}

.slider__button__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--color-text-dark);
  mask: url("../assets/icons/slider-button-icon.svg") no-repeat center;
  mask-size: contain;
}

.slider__button:nth-of-type(2) {
  transform: rotate(180deg);
}

.slider__button:hover {
  cursor: pointer;
  background-color: var(--color-border-dark);
}

.slider__button:hover .slider__button__icon {
  background-color: var(--color-bg-body);
}

.slider__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 33vw;
  gap: 21px;
}

.slider__control {
  width: 40px;
  height: 4px;
  background-color: var(--color-border-light);
  mask: url("../assets/icons/slider-control.svg") no-repeat center;
  mask-size: contain;
}

.slider__control {
  cursor: pointer;
}

.slider__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.slider__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  margin-top: -8px;
}

.slider__controls_cont {
  margin-top: 18px;
  display: flex;
  column-gap: 12px;
  justify-content: center;
}

.slider__control.is-active {
  background: var(--color-text-dark);
}

.collage__title {
  margin-bottom: 40px;
  letter-spacing: -0.5px;
}

.collage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
  margin-bottom: 60px;
}

.collage__item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 42px;
}

.collage__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.collage__item img:hover {
  cursor: pointer;
  transform: scale(1);
}

.apps__text {
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  gap: 40px;
}

.app__block {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.app__button {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #665f55;
  border-radius: 100px;
  background: var(--color-bg-body);
  color: var(--color-text-dark);
  padding: 11px 21px;
  width: fit-content;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.app__button:hover {
  background: var(--color-bg-container);
  cursor: pointer;
  color: var(--color-bg-body);
}

.app__button:hover .app__icon {
  background-color: var(--color-bg-body);
}

.app__icon {
  width: 32px;
  height: 32px;
  background-color: var(--color-text-dark);
  margin-top: 2px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: background-color 0.5s ease-in-out;
}

.app__icon--apple {
  mask-image: url("../assets/icons/apple-icon.svg");
}

.app__icon--google {
  mask-image: url("../assets/icons/google-play-icon.svg");
  width: 34px;
  height: 34px;
  margin-left: -2px;
}

.app__text-small {
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
}

.app__text-med {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-top: 2px;
}

.apps__title {
  margin-bottom: 0;
  max-width: 620px;
}

.app__text {
  text-align: left;
  padding-left: 10px;
}

.app__text--apple {
  padding-right: 38px;
}

.app__text--google {
  padding-right: 21px;
}

.app__buttons-cont {
  display: flex;
  gap: 20px;
}

@media (max-width: 1146px) {
  .app__img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 1118px) {
  .app__block {
    gap: 10px;
  }
}

@media (max-width: 1042px) {
  .collage__title {
    font-size: 46px;
  }
}

@media (max-width: 941px) {
  .app__img {
    max-width: 45%;
  }

  .slider__content {
    max-width: 50vw;
  }
}

@media (max-width: 863px) {

  .app__block {
    flex-direction: column;
  }

  .app__img {
    max-width: 100%;
  }
}

@media (max-width: 769px) {
  .enjoy__content {
    padding-top: 20px;
    padding-left: 40px;
  }

  .collage {
    gap: 22px;
  }

  .collage__item {
    margin-bottom: 22px;
  }

  .enjoy__block {
    height: 60vh;
  }
}

@media (max-width: 651px) {
  .enjoy__title {
    font-size: 60px;
  }

  .app__img {
    width: 80%;
  }

  .collage {
    display: block;
  }

  .collage__item--b,
  .collage__item--c {
    display: none;
  }
}

@media (max-width: 659px) {
  .enjoy__title,
  .title__dark {
    font-size: 50px;
  }
}

@media (max-width: 548px) {
  .slider__block {
    justify-content: center;
  }
  .slider__button {
    display: none;
  }
}

@media (max-width: 484px) {
  .app__buttons-cont {
    flex-direction: column;
  }

  .enjoy__content {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .enjoy__title,
  .collage__title {
    font-size: 42px;
  }

  .enjoy__block {
    height: 40vh;
  }
}

@media (max-width: 420px) {
  .enjoy__content {
    padding-left: 20px;
  }
}
